@import "tailwindcss";
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    color: #afafaf;
}

.testi-sec .swiper-pagination {
    position: absolute !important;
    bottom: 5px !important;
    left: 54% !important;
    right: 0% !important;
    z-index: 100 !important;
    width: 100px !important;
    height: 50px !important;
    color: #000000 !important;
}


.testi-sec .swiper-pagination-bullet{
    color: #7c7c7c !important;
    width: 10px !important;
    height: 10px !important;
    padding: 2px;
    margin: 5px 10px !important;
    transition: all 1s ease-in !important;
    /* display: flex !important; */
    /* flex-direction: column !important; */
    align-items: center !important;

}

.swiper-pagination-bullet {   
    background: #000  !important;
}

.testi-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #000000 !important;
    border-radius: 50% !important;
    background-color: #000000 !important;
    border: 3px solid #000000 !important;
    outline: 1px solid #000000 !important;
    outline-offset: 7px;
}